.forget-and-reset-password {
  &__button {
    &:hover {
      border-color: $color-gray;

      background-color: $color-white;
      color: $color-gray;
    }
  }

  .control-label {
    font-size: $font-size-large;
  }

  .form-control {
    display: block;

    width: 100%;

    margin: 10px auto;
  }

  form {
    width: 100%;

    @include breakpoint($tablet) {
      max-width: 400px;

      margin: 0 auto;
    }
  }
}
