// Font size
.font-size-large {
  font-size: $font-size-large;
}

.font-size-medium {
  font-size: $font-size-medium;
}

.font-size-small {
  font-size: $font-size-small;
}

// Font weight
.font-bold {
  font-weight: bold;
}
