.bg-video-holder style= "background-image: url(#{image_path 'img1.jpg'})"
  video.bg-video autoplay= true loop= true playsinline= true muted= true width= '640' height= '360'
    source type= 'video/mp4' src= '/video.mp4'
