.pagination {
  margin-top: 50px;

  text-align: center;

  a {
    transition: none;

    color: $color-orange;

    &:hover {
      color: $color-black;
    }
  }

  .first,
  .last {
    display: none;
  }

  .next,
  .prev {
    height: 33px;
  }

  span {
    margin: 0 3px;
    padding: 6px 12px;

    overflow: hidden;

    border: 1px solid $color-gray;

    &:hover {
      border: 1px solid rgba($color-gray, .5);

      background-color: $bg-color-gray;
    }

    &.current {
      background-color: rgba($bg-color-gray-deep, .5);

      color: $color-white;
    }

    a {
      padding: 0;
    }
  }
}
