.progress {
  height: 20px;

  margin: 0;
  margin-top: 6px;

  overflow: hidden;

  border-radius: 4px;

  background-color: $bg-color-gray;

  box-shadow: inset 0 1px 2px rgba($color-black, .1);
}

.progress-bar {
  width: 0%;
  height: 100%;

  float: left;

  transition: width .6s ease;

  background-color: $primary-color;

  box-shadow: inset 0 -1px 0 rgba($color-black, .15);

  color: $color-white;

  font-size: 12px;

  line-height: 20px;

  text-align: center;

  &.active {
    animation: progress-bar-stripes 2s linear infinite;
  }
}

@keyframes progress-bar-stripes {
  from { background-position: 40px 0; }
  to { background-position: 0 0; }
}

.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba($color-white, .15) 25%,
    transparent 25%,
    transparent 50%,
    rgba($color-white, .15) 50%,
    rgba($color-white, .15) 75%,
    transparent 75%,
    transparent
  );

  background-size: 40px 40px;
}
